<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" role="presentation" class="nav-link">
          <a [routerLink]="['/']">Add Account</a>
        </li>
        <li routerLinkActive="active" role="presentation" class="nav-link">
          <a [routerLink]="['/LOA']">List of Accounts</a>
        </li>
        <li routerLinkActive="active" role="presentation" class="nav-link">
          <a [routerLink]="['/FOA']">Form of Account</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <div *appAgar="flag">
  <h1>💕💕</h1>
</div>

<button (click)="toggleFlag()">Toggle Flag</button> -->
