<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div  *ngFor="let acc of accounts; let i=index">
<!-- <div class="row"  >
  <div class="col-xs-12 col-md-8 col-md-offset-2"> -->
    <a routerLinkActive="active" [routerLink]="['/LOA', acc.id]" [queryParams]="{editable: acc.id}"
        [fragment]="'test'" class="list-group-item" >{{ acc.name}}
    </a>

    <!-- <p>This account is {{ account.status }}</p>
    <button class="btn btn-default" (click)="onSetTo('active')">Set to 'active'</button>
    <button class="btn btn-default" (click)="onSetTo('inactive')">Set to 'inactive'</button>
    <button class="btn btn-default" (click)="onSetTo('unknown')">Set to 'unknown'</button> -->
    <button class="btn btn-danger" (click)="remove(acc.id)">Delete</button>
    <button class="btn btn-warning" (click)="edit()">Edit</button>
    <hr>
  </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
  </div>
</div>

